@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --navbar-shift: 64px;
  height: 100%;
}

.page-container {
  position: relative;
  margin-top: var(--navbar-shift);
  min-height: calc(100vh - var(--navbar-shift));  
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 1px;
  height: var(--navbar-shift);
  min-width: 100%;
  opacity: 1;
  font-weight: bold;  
  z-index: 100;
  padding: 16px 40px;
  border-bottom: 1px solid grey;
}